@import _default

$grey-dark: #2C2C2C
$grey-mid: #383838
$grey-light: #A6A6A6

body
	background-color: $grey-dark

main
	width: 100%
	max-width: 1000px
	margin: 30px auto
	background-color: $grey-mid
	border-radius: 7px
	overflow: hidden

/*/////////////*/
/*Upper Section*/
/*/////////////*/

.control-panel
	position: relative
	z-index: 10
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.18)

.container
	width: 495px
	margin: 0 auto
	padding-bottom: 50px
	text-align: center
	position: relative
	z-index: 5

#logo
	color: $grey-light
	font-family: "Raleway", sans-serif
	text-transform: uppercase
	font-size: 225px
	margin: 0
	position: relative
	left: -15px
	text-align: center


.dice-controls
	margin-top: 15px
	position: relative
	z-index: 15
	label
		display: block
		text-align: center
		color: #CCC
		margin-top: -24px
		font-family: "Roboto", sans-serif
		font-weight: 200
		padding-bottom: 5px

.dice-input
	background-color: $grey-dark
	border-radius: 7px
	min-height: 25px
	padding: 10px
	color: white
	border: none
	width: 80%
	font-family: "Roboto", sans-serif
	font-weight: 900
	font-size: 20px
	text-transform: uppercase
	text-align: center
	outline: 0

#roll-dice-button
	height: 45px
	width: 95%
	background-color: #41B0DD
	border: 0
	text-transform: uppercase
	font-family: "Raleway", sans-serif
	font-size: 20px
	font-weight: 900
	color: white
	outline: 0
	border-radius: 7px
	+v(transition, .1s)
	&:hover
		background-color: #5ABFE8
	&:active
		background-color: #247EA3

.secondary-button
	color: #8196AE
	border: 1px solid #8196AE
	font-family: 'Roboto', sans-serif
	font-size: 14px
	font-weight: 300
	padding: 13px
	margin-left: 10px
	margin-right: 10px
	width: 150px
	border-radius: 7px
	background-color: transparent
	outline: 0
	margin-top: 45px
	display: inline-block
	+v(transition, .3s)
	&:hover
		background-color: #8196AE
		color: $grey-mid

/*///////////////*/
/*Results Section*/
/*///////////////*/

.results.closed
	max-height: 0

.roll-loading
	position: absolute
	text-align: center
	box-sizing: border-box
	padding-top: 150px
	z-index: 5
	background-color: $grey-mid
	height: 100%
	width: 100%
	font-family: 'Roboto', sans-serif
	font-weight: 300
	font-size: 40px
	color: #4F4F4F
	+v(transition, .15s)

.roll-loading.closed
	opacity: 0

.results
	position: relative
	overflow: hidden
	max-height: 10000px
	+v(transition, 5s)
	.individual-rolls, .total
		text-align: center
		margin-top: 30px
		margin-bottom: 30px
	h1
		font-family: 'Roboto', sans-serif
		margin-top: 10px
		font-weight: 300
		font-size: 40px
		color: #4F4F4F

.results-grid
	opacity: 1
	+v(transition, .15s)
	&.faded-out
		opacity: 0

.individual-rolls
	box-sizing: border-box
	border-right: 1px solid #4F4F4F
	span
		font-size: 70px
		color: #8E8E8E
		font-weight: 100
		font-family: 'Roboto', sans-serif
		display: block
		width: 80%
		margin: 0 auto

.total
	span
		position: relative
		top: -25px
		margin-top: 0
		color: #CDCDCD
		font-size: 185px
		font-family: 'Roboto', sans-serif
		font-weight: 100
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.3)

/*///////////////////*/
/*Roll History Overlay*/
/*///////////////////*/

.overlay
	display: none
	position: fixed
	z-index: 50
	height: 100vh
	width: 100%
	top: 0
	left: 0
	+v(transition, .3s)

.overlay.closed
	opacity: 0

.blackout
	position: absolute
	height: 100%
	width: 100%
	background-color: rgba(0,0,0,0.6)

.roll-history
	position: fixed
	border-radius: 20px
	left: 0
	right: 0
	margin: 0 auto
	margin-top: 15vh
	width: 800px
	max-width: 70%
	height: 70vh
	background-color: #CCC
	ul
		width: 90%
		margin: 0 auto
		margin-top: 70px

.roll-data-item.pure-g
	text-align: center
	> div
		min-height: 100px
		font-family: 'Roboto', sans-serif

.archive-shorthand
	color: #333
	font-size 20px
.archive-individual-rolls
	color: #545454
.archive-total
	color: black
	font-size: 40px

.roll-data-item:first-of-type
	background-color: #181818
	.archive-shorthand
		color: #B6B6B6
	.archive-individual-rolls
		color: #969696
	.archive-total
		color: white